<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>GMAMAXJ88G</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>app.auaha.proteingrid</key>
		<string>Protein Grid App Store</string>
		<key>app.auaha.proteingrid.watchkitapp</key>
		<string>Protein Grid Watch App Store</string>
	</dict>
</dict>
</plist>
